@import url('./__item/photo-grid__item.css');

.photo-grid {
  background-color: #2A2C2F;
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 213px);
  grid-gap: 16px 16px;
  padding: 0;
  margin: 92px auto 92px;
}

@media all and (max-width:1024px) {
  .photo-grid {
    max-width: 928px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 225px);
    grid-gap: 14px 14px;
    margin: 92px auto 92px;
  }
}

@media all and (max-width:768px) {
  .photo-grid {
    max-width: 720px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 264px);
    grid-gap: 16px 16px;
    margin: 88px auto 88px;
  }
}

@media all and (max-width:320px) {
  .photo-grid {
    max-width: 320px;
    grid-template-columns: repeat(1, 288px);
    grid-template-rows: repeat(12, 216px);
    grid-gap: 12px 16px;
    justify-content: center;
    margin: 64px auto 64px;
  }
}