@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');
@import url('./__caption-text/lead__caption-text.css');
@import url('./__image-figcaption/lead__image-figcaption.css');

.lead {
  max-width: 984px;
  background-color: #2A2C2F;
  color: #FFFFFF;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .lead {
    max-width: 928px;
  }
}