@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__image/lead__image.css');
@import url('./__image-travel/lead__image-travel.css');
@import url('./__caption/lead__caption.css');

.lead {
  background-color: #2A2C2F;
  max-width: 1280px;
  color: #FFFFFF;
  margin: 0 auto;
}