.menu__lang {
  cursor: pointer;
  margin-left: 18px;
  line-height: 28px;
  font-size: 24px;
}

.menu__lang [type=radio]:checked + span {
  text-decoration: underline;
}

.menu__lang span:hover {
  opacity: .8;
}