@import url('./_active/menu__lang_active.css');

.menu__lang {
  cursor: pointer;
  display: flex;
  list-style: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .menu__lang {
    font-size: 18px;
    line-height: 24px;  
  }
}