@import url('./_checked/menu__lang_checked.css');

.menu__lang {
  cursor: pointer;
  margin: 0 0 0 18px;
  line-height: 28px;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .menu__lang {
    font-size: 18px;
    line-height: 24px;  
  }
}