.lead__image-figcaption {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding-top: 8px;
}

@media (max-width: 1024px) {
  .lead__image-figcaption {
    margin: 0 0 0 24px;
  }
}

@media (max-width: 1024px) {
  .lead__image-figcaption {
    margin: 0 0 0 16px;
  }
}