.place__paragraph {
  max-width: 484px;
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0 0 24px 0;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1280px) {
  .place__paragraph {
    max-width: 456px;
  }
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    max-width: 288px;
    margin: 0 auto 24px;
  }
}