.menu__link {
    color: #FFFFFF;
    text-decoration: none;
    margin-right: 18px;
}

.menu__link:nth-last-of-type(1) {
    margin-right: 0;
}

.menu__link:hover {
    text-decoration: underline;
}

.menu__link:visited {
    text-decoration: none;
}

.menu__link:active {
    text-decoration: underline;
}