@import url('../intro/__title/intro__title.css');
@import url('../intro/__text/intro__text.css');
@import url('../intro/__list/intro__list.css');

.intro {
  width: 984px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: #2A2C2F;
  max-width: 1280px;
  margin: 0 auto;
  color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 288px;
  }
}