@import url('./__list/intro__list.css');
@import url('./__title/intro__title.css');
@import url('./__text/intro__text.css');
@import url('./__number/intro__number.css');

.intro {
  max-width: 984px;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  background-color: #2A2C2F;
  margin: 0 auto;
  color: #FFFFFF;
}

@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    max-width: 288px;
  }
}