@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__menu/footer__menu.css');

.footer {
  width: 1184px;
  height: 66px;
  background-color: #2A2C2F;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .footer {
  
  }
}

@media (max-width: 768px) {
  .footer {
    
  }
}

@media (max-width: 320px) {
  .footer {
    display: block;
    min-height: 334px;
    width: 320px;
  }
}