@import url('./__link/footer__link.css');
@import url('./__copyright/footer__copyright.css');

.footer {
  width: 1184px;
  height: 66px;
  background-color: #2A2C2F;
  color: #FFF;
  font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}